
.view-more {
    color: #ff5c01;
    font-size: 16px;
    margin-top: 30px;
    display: inline-block;
    border: 2px solid #ff5c01;
    padding: 10px 20px;
    transition: All .2s ease-in-out;
    -webkit-transition: All .2s ease-in-out;
    -moz-transition: All .2s ease-in-out;
    -o-transition: All .2s ease-in-out;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -mz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}